@import url("@cometchat/chat-uikit-react/css-variables.css");

#root {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #282c34;
    overflow: hidden;
  }
  
  .conversations-with-messages {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
  }
  
  .conversations-wrapper {
    height: 100vh;
    width: 480px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .conversations-wrapper>.cometchat {
    overflow: hidden;
  }
  
  .messages-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .empty-conversation {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cometchat-background-color-03, #F5F5F5);
    color: var(--cometchat-text-color-secondary, #727272);
    font: var(--cometchat-font-body-regular, 400 14px Roboto);
  }
  
  .cometchat .cometchat-message-composer {
    border-radius: 0px;
  }
  
 /* Default (Light) Theme */
.cometchat {
    --cometchat-primary-color: #fafd40;
    --cometchat-neutral-color-300: #fff;
    --cometchat-background-color-03: #feede1;
    --cometchat-extended-primary-color-500: #fdff87;
    --cometchat-icon-color-highlight: #fafd40;
    --cometchat-text-color-highlight: #fafd40;
  }
  
  /* Dark Theme */
  @media (prefers-color-scheme: dark) {
    .cometchat {
      --cometchat-primary-color: #f11d5d;
      --cometchat-neutral-color-300: #2e0b15;
      --cometchat-background-color-03: #530019;
      --cometchat-extended-primary-color-500: #7c0328;
      --cometchat-icon-color-highlight: #f11d5d;
      --cometchat-text-color-highlight: #f11d5d;
      --cometchat-message-seen-color: #f11d5d;
      --cometchat-neutral-color-50: #1a1a1a;
    }
  }
  